/* responsive css */
/* big screens */
@media only screen and (min-width: 1500px) {
  /* this keeps the carousel from being too small on desktops */
  .padding-special {
    padding-left: 200px;
    padding-right: 200px;
  }
  .special-img {
    padding-left: 200px;
    padding-right: 200px;
    width: 100%;
  }
}

/* little screens */
@media only screen and (max-width: 1499px){
  /* the padding-special class is left out here, carousels can handle these devices */
  .special-img {
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
  }
}

/* really little screens */
@media only screen and (max-width: 500px){
  /* some people like very small phones (people like me) */
  .padding-special, .special-img {
    visibility: hidden;
    width: 0%;
  }
}

/* not responsive css for all devices */
.content-main{
  min-height: calc(100vh - 10.1rem);
}